#seconds {
    float: right;
}

#top {
    padding-bottom: 100px;
}

.button1, .button2, .button3, .button4 {
    /* display: none; */
}

.landing-page1, .landing-page2, .landing-page3, .landing-page4,   .landing-page5, .landing-page6 {
    display: none;
}

